@charset "utf-8";

.box {
    width: 80px;
    height: 80px;
    background-color: pink;
    animation-name: move-around;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes move-around {
    25% {
        
    }
    50% {

    }
    75% {

    }
    100% {

    }
}


