@charset "utf-8";

.box {
    width: 80px;
    height: 80px;
    background-color: pink;
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: linear;
}

.box:hover {
    /*変形を組み合わせる場合はその順序がとても大切*/
    transform: translateX(400px);
}

