@charset "utf-8";

.box {
    width: 80px;
    height: 80px;
    background-color: pink;
    transition-property: transform;
    transition-duration: 1s;
    transform-origin: top left;
}

.box:hover {
    transform: rotate(45deg);

}

